/* .time {
  color: gray;
  font-size: 8px;
  font-family: helvetica;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #f0eeee;
  border-radius: 3px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.score-box {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  /* width: 50%; */
  /* max-width: 50px; */
  border: solid darkred 7px;
  padding: 30px;
  margin: auto;
  color: #2CB3C9;
}
